name: Infracost

on:
  pull_request:
    branches:
      - main

jobs:
  infracost:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Setup Infracost
        uses: infracost/actions/setup@v3
        with:
          api-key: ${{ secrets.INFRACOST_API_KEY }}

      - name: Run Infracost
        uses: infracost/actions/run@v3
        with:
          path: .
          post-condition: always
